In [8]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException  
import numpy as np
import pandas as pd
import time

In [9]:
browser = webdriver.Chrome()
browser.get("https://avito.ma")

In [10]:
recherche = browser.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[5]/div[1]/div/div/form/div/input')
recherche.send_keys("appartement")
time.sleep(0.2)

confirmer = browser.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[5]/div[1]/div/button[3]')
confirmer.click()
time.sleep(0.2)

In [11]:
def get_element_text(xpath):
    try:
        element = browser.find_element(By.XPATH, xpath)
        return element.text
    except NoSuchElementException:
        return "NaN"

In [12]:
appart_list = [] 
for n in range(2,5):

    apartment_links = []
    link_elements = browser.find_elements(By.CSS_SELECTOR, '.sc-1nre5ec-1.crKvIr.listing a')  
    for link_element in link_elements:
        href = link_element.get_attribute('href')
        if href:
            apartment_links.append(href)
    
    for link in apartment_links:
        browser.get(link)  
        time.sleep(0.5)
        
        try:
            path_chambre = browser.find_element(By.XPATH, "/html/body/div[1]/div/main/div/div[3]/div[1]/div[2]/div[1]/div[1]/div[2]/div[4]/div[1]/div[1]/div/span").text
        except NoSuchElementException:
            try:
                path_chambre = browser.find_element(By.XPATH, "/html/body/div[1]/div/main/div/div[3]/div[1]/div[2]/div[1]/div[1]/div[2]/div[3]/div[1]/div[1]/div/span").text
            except NoSuchElementException:
                path_chambre = "NaN"    

        try:
            path_douches = browser.find_element(By.XPATH, "/html/body/div[1]/div/main/div/div[3]/div[1]/div[2]/div[1]/div[1]/div[2]/div[4]/div[1]/div[2]/div/span").text
        except NoSuchElementException:
            try:
                path_douches = browser.find_element(By.XPATH, "/html/body/div[1]/div/main/div/div[3]/div[1]/div[2]/div[1]/div[1]/div[2]/div[3]/div[1]/div[2]/div/span").text
            except NoSuchElementException:
                path_douches = "NaN"  



        appart_dict = {
            "titre_appart": get_element_text('//*[@id="__next"]/div/main/div/div[3]/div[1]/div[2]/div[1]/div[1]/div[2]/div[1]/div[1]/div[1]/h1'),
            "localisation": get_element_text('//*[@id="__next"]/div/main/div/div[3]/div[1]/div[2]/div[1]/div[1]/div[2]/div[1]/div[2]/span[1]'),
            "prix": get_element_text('//*[@id="__next"]/div/main/div/div[3]/div[1]/div[2]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/p'),
            "nombre_chambre": path_chambre,
            "nombre_douches": path_douches,
            "Surface_habitable": get_element_text("//span[text()='Surface habitable']/following-sibling::span"),
            "Type": get_element_text("//span[text()='Type']/following-sibling::span"),
            "Secteur": get_element_text("//span[text()='Secteur']/following-sibling::span"),
            "Salons": get_element_text("//span[text()='Salons']/following-sibling::span"),
            "Étage": get_element_text("//span[text()='Étage']/following-sibling::span"),
            "Âge_du_bien": get_element_text("//span[text()='Âge du bien']/following-sibling::span")
        }
        appart_list.append(appart_dict)
        time.sleep(0.8)
    browser.get(f"https://www.avito.ma/fr/maroc/appartements/appartement--%C3%A0_vendre?o={n}") 
    time.sleep(0.7)

In [13]:
df = pd.DataFrame(appart_list)
df.head()

,titre_appart,localisation,prix,nombre_chambre,nombre_douches,Surface_habitable,Type,Secteur,Salons,Étage,Âge_du_bien
0,Résidence Premium à Kénitra,Kénitra,850 000 DH,2,2,80,"Appartements, à vendre",Autre secteur,1,1,Neuf
1,Appart 3 chambres 3 SDB face ville verte ODYSSIA,Casablanca,1 280 000 DH,3,3,132,"Appartements, à vendre",Sidi Maarouf,1,2,Neuf
2,Appartement 109 m² à Bourgogne BOUL BOURGOUN,Casablanca,1 000 000 DH,3,1,100,"Appartements, à vendre",Bourgogne,2,4,11-20 ans
3,appartement meublé luxe nice location vacances,Tanger,199 DH /Nuit,5,1,NaN,"Locations de vacances, à louer",Malabata,NaN,NaN,NaN
4,appartement 3 chambres salon,Casablanca,5 000 DH,3,2,120,"Appartements, à louer",Sidi Maarouf,1,1,NaN

In [14]:
df[df["nombre_chambre"] == "NaN"]

,titre_appart,localisation,prix,nombre_chambre,nombre_douches,Surface_habitable,Type,Secteur,Salons,Étage,Âge_du_bien
11,Porte blindée villa,Settat,PRIX NON SPÉCIFIÉ,NaN,NaN,NaN,"Porte et Fenêtre, à vendre",Toute la ville,NaN,NaN,NaN
19,Porte Blindée Gros et Détail,Mohammedia,3 200 DH,NaN,NaN,NaN,"Porte et Fenêtre, à vendre",Al Qods,NaN,NaN,NaN
30,Portes blindées villas,Casablanca,PRIX NON SPÉCIFIÉ,NaN,NaN,NaN,"Porte et Fenêtre, à vendre",Sidi Maarouf,NaN,NaN,NaN
32,Sidi Rahal Porte blindée villa,Sidi Rahal,PRIX NON SPÉCIFIÉ,NaN,NaN,NaN,"Porte et Fenêtre, à vendre",Toute la ville,NaN,NaN,NaN
33,Porte blindée 3D,Casablanca,3 700 DH,NaN,NaN,NaN,"Porte et Fenêtre, à vendre",Bourgogne,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.to_csv('appartements.csv', index=False)
print("Data saved to appartements.csv")
browser.quit()

Data saved to appartements.csv